@import url(contact.css);
@import url(nav.css);
@import url(header.css);
@import url(course.css);
@import url(about-us.css);
@import url(teacher.css);
@import url(stat.css);
@import url(topic.css);
@import url(faq.css);
@import url(footer.css);


@font-face {
  font-family: Vazir-Medium;
  src: url(../Fonts/vazir/Vazir-Medium.eot);
  src: url(../Fonts/vazir/Vazir-Medium.ttf);
  src: url(../Fonts/vazir/Vazir-Medium.woff);
  src: url(../Fonts/vazir/Vazir-Medium.woff2);
  font-style: normal;
}

